* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}

/* header */
header {
    display: flex;
    justify-content: space-evenly;

}

#Logo {
    padding-top: 33px;
}

nav {
    display: flex;
    font-size: 15px;
    color: black;


}

.li-navbar {
    margin-left: 30px;
    text-decoration: none;
    list-style-type: none;
    padding-top: 33px;
    padding-bottom: 33px;
    color: black;


}

.button {
    background-color: #1B1A1A;
    margin-left: 32px;
    border-radius: 20px;
    width: 155px;
    height: 45px;
    padding-top: 10px;
    padding-left: 20px;
}

.in-button {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;



}

.ul-navbar {
    display: flex;

}

.navbar {
    text-decoration: none;
    margin-left: 32px;
    color: black;

}

.li-navbar-button {
    margin-left: 30px;
    text-decoration: none;
    list-style-type: none;
    padding-top: 20px;
}


/* main */
/* first post */

.first-post {
    display: flex;
    width: 100%;
    height: 720px;
    background-color: #ECE7E4;
    padding-right: 0px;
}

.first-text {
    width: 60%;
    height: 720px;
}

.first-logo {
    font-size: 14px;
    color: #645C55;
    padding-left: 100px;
    margin-top: 137px;
}

.first-img {
    margin-left: auto;
    padding-right: 0px;
}

.imageF {
    width: 720px;
    height: 720px;
}

.title {
    font-size: 50px;
    width: 417px;
    height: auto;
    padding-left: 100px;
    margin-bottom: 0px;
}

.subtitle {
    font-size: 16px;
    width: 509px;
    height: auto;
    padding-left: 100px;
    color: #403E3B;
    margin-bottom: 40px;
}

.Read-more {
    font-size: 16px;
    padding-left: 125px;
    text-decoration: none;
    color: black;
}

/* Second post */
.second-post {
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
}

.Our-firm {
    font-size: 32px;
    margin-right: 132px;
    padding-top: 96px;
    color: #403E3B;
}

.second-text {
    font-size: 16px;
    color: #403E3B;
    width: 493px;
    padding-top: 96px;
}

.indent {
    margin-bottom: 10px;
}

.stephen {
    display: flex;
    margin-bottom: 120px;

}

.img-stephen {
    width: 84px;
    height: 84px;
}

.text-stephen {
    padding-top: 15px;
    padding-left: 30px;
}

.Partner {
    color: #645C55;
    font-size:14px;
}
.Collier{
    font-size:17px;
    color: #1B1A1A;
}

/* Background1 */
#background-one {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

/* Third post */
.small-title {
    font-size: 20px;
    color: #645C55;
    margin-bottom: 13px;
    text-align: center;
}

.third-title {
    font-size: 39px;
    margin-bottom: 37px;
    text-align: center;
}

#third-column {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.img-column {
    width: 117px;
    height: auto;
}

.column-title {
    font-size: 18px;
    color: #403E3B;
    margin-bottom: 10px;
}

.columns {
    width: 292px;
    height: auto;
    text-align: center;
    margin-bottom: 100px;
}

.column-text {
    font-size: 16px;
    color: #645C55;

}

/* Background2 */
#background-two {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 0px;
}

.title-img-two {
    padding-left: 75%;
    position: absolute;
    padding-top: 266px;
    font-size: 14px;
    color: #403E3B;

}

.subtitle-img-two {
    position: absolute;
    padding-left: 75%;
    padding-top: 286px;
    font-size: 16px;
    color: #645C55;
}

.background-two-div {
    margin-bottom: 0px;
}

/* Fourth post */
.fourth-post {
    background-color: #403E3B;
    width: 100%;
    height: 410px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
}

.small-fourth {
    font-size: 14px;
    color: #ECE7E4;
}

.fourth-text {
    padding-top: 135px;

}

.title-fourth {
    font-size: 32px;
    color: white;
}

.subtitle-fourth {
    color: #ECE7E4;
    width: 451px;
    font-size: 15px;
}

.fourth-img {
    padding-top: 90px;


}

.fourth-img-in-column {
    margin-left: 96px;
    align-items: center;
}

/* Background three */
.background-three-div {
    background-size: cover;
    width: 100%;
    height: 600px;
    display: block;
    background-image: url("background3.jpg");
}

.title-img-three {
    font-size: 14px;
    color: #403E3B;
}

.subtitle-img-three {
    font-size: 16px;
    color: #645C55;
}

.text-background-three {
    padding-top:266px;
    padding-left:60px;
    width:290px;
}

/* fifth-post */
.fifth-post {
    background-color: #F7F7F7;
    width: 100%;
    margin-bottom: 100px;
}

.fifth-text {
    padding-top: 120px;
    margin-bottom: 20px;
    padding-left: 13%;
}

.title-text-fifth-post {
    font-size: 39px;
    color: #1B1A1A;
    margin-bottom: 15px;
}

.subtitle-text-fifth-post {
    font-size: 24px;
    color: #645C55;
    margin-bottom: 42px;
}

.fifth-images {
    display: flex;
    justify-content: center;
    margin-bottom: 53px;
}

.second-img-fifth-post {
    width: 375px;
    height: 456px;
    background-image: url("second-img-in-fifth-post.jpg");
    margin-left: 18px;
    margin-right: 18px;
}

.text-in-second-img {
    padding-top: 40px;
    padding-left: 40px;
}

.small-text-in-second-img {
    color: #645C55;
    font-size: 14px;

}

.big-text-in-second-img {
    color: #403E3B;
    font-size: 23px;

}

.button-in-second-img {
    background-color: #1B1A1A;
    width: 133px;
    height: 46px;
    border-radius: 15px;


}

.indent-fifth-post {
    padding-left: 40px;
    padding-top: 280px;
}

.text-in-button-second-img {
    font-size: 16px;
    color: white;
    padding: 11px 20px;


}

.a-button-fifth-post {
    text-decoration: none;
}

.click-text {
    text-decoration: none;
    color: #1B1A1A;
    font-size: 16px;
}

.indent-last-click-fifth {
    text-align: center;
}

.click-last-text-fifth {
    padding-bottom: 111px;
}

/* Sixth-Post */
/* ------------------ */

.first-autor, .second-autor, .third-autor, .fourth-autor, .fifth-autor{
    display: flex;

}

.img-first, .img-secind, .img-third, .img-fourth, .img-fifth{
    width: 84px;
    height: 84px;
}

.text-first-autor, .text-second-autor, .text-third-autor, .text-fourth-autor, .text-fifth-autor{
    padding-top: 15px;
    padding-left: 30px;
}

.small-text-first-autor, .small-text-second-autor, .small-text-third-autor, .small-text-fourth-autor, .small-text-fifth-autor{
    color: #645C55;
    font-size:14px;
}
.first-autor, .second-autor, .third-autor, .fourth-autor, .fifth-autor{
    font-size:17px;
    color: #1B1A1A;
}

/* --------------------- */
.sixth-post{
    display: flex;
    justify-content: center;
    margin-bottom:100px;
}
.autors{
    display: flex;
    margin-left: 16px;
}
.second-column-autors{
    margin-left: 120px;
}


.title-sixth-post{
    color:#403E3B;
    font-size: 32px;
    margin-bottom: 14px;
}
.subtitle-sixth-post{
    color:#645C55;
    font-size: 15px;
    width:358px;
    margin-bottom: 30px;
}
.click-sixth-post{
    font-size: 16px;
    color: #1B1A1A;
    padding-left:20px;
}
.a-sixth-post{
    text-decoration: none;
}